.white {
    color: white;
}

.blue {
    color: #008CBA;
}

.grey {
    color: rgba(241, 241, 241, 1);
}
/*^^^^^^^^Colors for the project^^^^^^^^*/

.table-wrapper{
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #008CBA;
    text-align: left;
    color: white;
}

th,
td {
    padding: .6rem;
}

tr{
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgba(241, 241, 241, 1);
}