.white {
    color: white;
}

.blue {
    color: rgb(167, 255, 243);
}

.grey {
    color: rgb(239, 239, 239);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(167, 255, 243);
    text-align: left;
}

th,
td {
    padding: .6rem;
}

tr{
    border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgb(239, 239, 239);
}